apiVersion: apps/v1
kind: Deployment
metadata:
  name: music-player
spec:
  replicas: 1
  selector:
    matchLabels:
      app: music-player
  template:
    metadata:
      labels:
        app: music-player
    spec:
      containers:
      - image: okteto/hello-world:php
        name: music-player

---

apiVersion: v1
kind: Service
metadata:
  name: music-player
  annotations:
    dev.okteto.com/auto-ingress: "true"
spec:
  type: ClusterIP
  ports:
  - name: "music-player"
    port: 8080
  selector:
    app: music-player
